.chart-wrapper{
  
  .chart-content{
    height: calc(100vh - 110px);
    overflow-y:auto ;
    .mine{
      text-align: right;
      margin: 10px 20px 0 0;
      span{
        display: inline-block;
        padding: 3px 10px;
        background-color: rgb(169, 232, 122);
        border-radius: 4px;
        color: #000;
        box-shadow: 1px 3px 8px #fff;
      }

    }
    .others{
      text-align: left;
      margin: 10px 0 0 20px;
      span{
        display: inline-block;
        padding: 3px 10px;
        background-color: #fff;
        border-radius: 4px;
        color: rgb(8, 8, 8);
        box-shadow: 1px 3px 8px #999;
      }
    }
    .in{
      text-align: center;
      color: #999;
      span{
        font-size: 12px;
      }
      .nick-name{
        display: inline-block;
        transform: scale(1.2);
        margin-right: 5px;
      }
      
    }
  }
  .nick-name{
    span.nick{
      background-color: transparent;
      display: inline-block;
      font-size: 12px;
      transform: scale(.83);
      color: #999;
      box-shadow:none
    }
  
  }
}


